* {
    margin: 0;
    padding: 0;
}

.title {
    color: #bd3db2;
    font-family: 'Poppins', sans-serif;
    height: 20px;
}

.cv {
    padding-top: 10px;
    max-width: 620px;  
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 0 auto;
    background: #ffffff;
}

.ss {
    border: dashed red;
}

.container-row {     
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-column {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;;
    border-right-width: 10px;
}

.name {
    min-width: 135px;   
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;   
    color: #3D59BD;
}

.hello {
   text-align:justify;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
  

    
}

.foto {
    width: 100px; 
   background:url('./image/foto.jpg');
   background-size: cover;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts-title {
    padding-left: 35%;
}

.contacts-info {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.contact-text {
    display: flex;
    flex-direction: column;   
   align-items: flex-end;
    width: 80%;  
}

.contacts-icon {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;

}

.education {
    width: 302px;
    height: 140px;
    left: 20px;
    top: 154px;
    
}

.experience {
    width: 301px;
    height: 531px;
    left: 20px;
    top: 314px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 232px;
    height: 493px;
    left: 373px;
    top: 154px;
    
}

.skills {
    width: 217px;
    height: 156px;
    left: 373px;
    top: 668px;
}
